@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@font-face {
    font-family: 'Inter';
    src: url('/assets/inter.woff2') format('woff2');
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;

}

@theme {
    --color-primary: #09f;
    --color-primary-light: #ceecff;
    --color-primary-dark: rgb(0,22,83);

    --breakpoint-xs: 350px;

    --font-sans: 'Inter', system-ui, sans-serif;
}

.social-buttons {
    @apply p-4 size-10 xs:size-12 flex items-center justify-center 
    rounded-full hover:scale-110 hover:transition-transform;
}