@import "tailwindcss";

@theme {
    --color-primary: #09f;
    --color-primary-light: #ceecff;
    --color-primary-dark: rgb(0,22,83);

    --breakpoint-xs: 350px;
}

.social-buttons {
    @apply p-4 size-10 xs:size-12 flex items-center justify-center 
    rounded-full hover:scale-110 hover:transition-transform;
}